***
<h1 id="heading"><center><span style="background-color:#5642C5; color:white ; display:fill;border-radius:5px; font-family:cursive"> 0. Exploration üìäüî¨</span></center><a class="anchor-link"></a></h1>
<p><center style="color:#159364; font-family:cursive;">The best way to make yourself extremely valuable in a team is to understand everything, but being a master of something.</center></p>

***

<blockquote><p style="font-size:16px; color:#159364; font-family:verdana;">üí¨ From the start, I would like to take this opportunity to remind everyone to be <code>kind</code>, <code>just</code> and <code>mindful</code>üòÉ</p></blockquote>

<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946; display:fill;border-radius:5px; font-family:cursive"> üë®‚Äçüíª Description of the Problem</span></h3>

__Citation__: William Lifferth. (2018). Fake News. Kaggle. https://kaggle.com/competitions/fake-news

__DATASET__: https://www.kaggle.com/competitions/fake-news/data?select=test.csv

The dataset is split into 3 part training set, testing set, and submission set
- train.csv: A full training dataset with the following attributes:
    * id: unique id for a news article
    * title: the title of a news article
    * author: author of the news article
    * text: the text of the article; could be incomplete
    * label: a label that marks the article as potentially unreliable
        - "1": unreliable
        - "0": reliable
- test.csv: A testing training dataset with all the same attributes at train.csv without the label.

- submit.csv: A sample submission that you can

__Objective__: Develop a machine learning program to identify when an article might be fake news. Run by the UTK Machine Learning Club.

<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946 ; display:fill;border-radius:5px; font-family:cursive"> üì• Import packages & data </span></h3>

In [1]:
TRAIN_DATA_PATH = '../data/raw/train.csv'
TEST_DATA_PATH = '../data/raw/test.csv' 
SUBM_DATA_PATH = '../data/raw/submit.csv'

In [2]:
import pandas as pd
import numpy as np
# The below options is useful for displaying multiple line 
pd.options.display.max_rows = 50000

In [3]:
raw_train_df = pd.read_csv(TRAIN_DATA_PATH)
raw_test_df = pd.read_csv(TEST_DATA_PATH)
raw_subm_df = pd.read_csv(SUBM_DATA_PATH)

<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946 ; display:fill;border-radius:5px; font-family:cursive"> üî¨ Explore Overall data </span></h3>

<h4 id="heading"><span style="background-color:#fcf3b9; color:#3d3710 ; display:fill;border-radius:5px; font-family:Georgia">üî≠ Viewing the data </span></h4>

In [5]:
# What is the shape of the data
print('Train data set shape: ',raw_train_df.shape)
print('Test data set shape: ',raw_test_df.shape)
print('Submission data set shape: ',raw_subm_df.shape)

Train data set shape:  (20800, 5)
Test data set shape:  (5200, 4)
Submission data set shape:  (5200, 2)

<h4 id="heading"><span font-family:Georgia"><Strong>üìë Train data </Strong></span></h4>

In [6]:
# what is the info of the train data
raw_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

<p style="padding: 6px;
          color:#aa0c0c;">
üìå Train data seems that have sum missing value.
</p>

In [8]:
# How the rows of the train data look like 
raw_train_df.head(10)

,id,title,author,text,label
0,0,House Dem Aide: We Didn‚Äôt Even See Comey‚Äôs Let...,Darrell Lucus,House Dem Aide: We Didn‚Äôt Even See Comey‚Äôs Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [9]:
# Let see how random simple value look like
raw_train_df.sample(1).iloc[0]

id                                                     3664
title     Kejriwal in talks with Dr Manmohan Singh to be...
author                                          C S Krishna
text      Kejriwal in talks with Dr Manmohan Singh to be...
label                                                     1
Name: 3664, dtype: object

***
<h4 id="heading"><span font-family:Georgia"><Strong>üìë Test data </Strong></span></h4>

In [10]:
# what is the info of the train data
raw_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5078 non-null   object
 2   author  4697 non-null   object
 3   text    5193 non-null   object
dtypes: int64(1), object(3)
memory usage: 162.6+ KB

<p style="padding: 6px;
          color:#aa0c0c;">
üìå Also, test data seems that have some missing values.
</p>

In [11]:
# How the rows of the train data look like 
raw_test_df.head(10)

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. ‚Äî After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don‚Äôt succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [12]:
# Let see how random simple value look like
raw_test_df.sample(1).iloc[0]

id                                                    24652
title     Washington's Embargo on Cuba Not Effective, Is...
author                                                  NaN
text      Get short URL 0 43 0 0 The White House spokesp...
Name: 3852, dtype: object

***
<h4 id="heading"><span font-family:Georgia"><Strong>üìë Submission data </Strong></span></h4>

In [13]:
# what is the info of the train data
raw_subm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   label   5200 non-null   int64
dtypes: int64(2)
memory usage: 81.4 KB

In [14]:
# How the rows of the train data look like 
raw_subm_df.head(10)

      id  label
0  20800      0
1  20801      1
2  20802      0
3  20803      1
4  20804      1

In [15]:
# Let see how random simple value look like
raw_subm_df.sample(1).iloc[0]

id       21806
label        1
Name: 1006, dtype: int64

<div style="display:fill;
           border-radius:5px;
           background-color:#FFE39A;;
           font-family:Georgia;">

<p style="padding: 6px;
          color:#5E4913;">
üìå The test and submission set are the data that we must test our trained model using the test as input and submission set as real output and evaluate the predicted output with submit value.
</p>
</div>

***
<h4 id="heading"><span font-family:Georgia"><Strong>ü¶Ñ Unique values</Strong></span></h4>

In [24]:
raw_train_df.columns

Index(['id', 'title', 'author', 'text', 'label'], dtype='object')

In [36]:
# How many author in this data
print('Number of author in our data is: ',len(raw_train_df['author'].unique().tolist()))

# Display the names of authors
# raw_train_df['author'].unique().tolist()

Number of author in our data is:  4202

<h4 id="heading"><span style="background-color:#fcf3b9; color:#3d3710 ; display:fill;border-radius:5px; font-family:Georgia">üèÅ Conclusion of Exploration </span></h4>

<span style="font-family:cursive;
             color:#ff9d91">From the info above, we can see the two major problems:üë®‚Äçüíª</span>
- [x] We have many missing values from 'title', 'author', and 'text' columns.
- [x] We have different language (Arabic, English).